* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    background-color: #E8F5E9;
    height: 100vh;
    color: #388E3C;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #81C784;
    justify-items: center;
    border-bottom: 2px solid #388E3C;
}

.menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
}

.menu h1 {
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-input input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 650px;
    border: 2px solid #388E3C;
    border-radius: 8px;
    height: 32px;
    font-size: 13px;
}

.container-button button {
    width: 130px;
    height: 32px;
    background-color: #388E3C;
    border: 2px solid #388E3C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    font-weight: bold;
}